body {
  background-color: #ffffff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #17c3b2;
  opacity: .7;
  height: 190px;
  /* padding-left: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#header span {
  font-size: 24px;
  color: white;
  padding-right: 15px;
}

#header a {
  padding-left: 15px;
}

section{
  /* background: #000; */
  display: grid;
  margin-top: 7%;
}

#container {
  background-color: #FFF;
  /* box-shadow: .2px .5px 5px #bfc0c0; */
  width: 50%;
  min-width: 700px;
  border-radius: 5px;
}

#inputContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 25px;
}

#toDoInput {
  outline: none;
  width: 75%;
  padding-left: 10px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  background-color: #68d8d6;
  opacity: .2;
}

#addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  height: 35px;
  background: #17c3b2;
  color: #FFF;
  font-size: 20px;
}

#toDoContainer {
  width: 100%;
  display: grid;
  justify-content: center;
  /* flex-wrap: wrap; */
  cursor: pointer;
}

.toDoShell {
  width: 650px;
  min-height: 50px;
  display: grid;
  grid-template-columns: 90% 10%;
  /* display: flex; */
  align-items: center;
  box-shadow: .2px .5px 5px #bfc0c0; 
  margin-bottom: 10px;
  border-radius: 7px;
  font-size: 20px;
  padding: 5px;
}

.toDoShell span {
  width: 90%;
  margin-left: 8px;
}

/* #btn-delete{
 
} */

.completeText {
  color: lightgrey;
  text-decoration: line-through;
}

.completeCheckbox {
  transform: scale(1.8);
}

.empty{
  display: block;
}

#footer{
  width: 100%;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background: #bfdbf7;
  height: 60px;
}